.custom {
    padding: 120px 0;

    &__wrapper {
        @include FlexBetween;
        align-items: start;
        margin-top: 120px;
    }

    &__title {
        text-align: center;
        @include Quantico;
        font-weight: 700;
        font-size: 40px;
        margin-bottom: 57px;
    }

    //Custom Product

    &__product {

        &__shadow {
            margin-top: 12px;
            width: 440px;
            height: 40px;
            background: radial-gradient(50% 50% at 50% 50%, rgba(114, 81, 174, 0.65) 0%, rgba(114, 81, 174, 0) 100%);
        }

        &__descr {
            margin: 74px 0;
            width: 440px;
            @include WorkSans;
            font-weight: 500;
            font-size: 20px;
            line-height: 150%;
        }
    }

    &__ticker {
        position: relative;
        width: 440px;
        height: 358px;


        background: #1A2C4C;
        outline: solid 7px #7251AE;
        border: 13px solid #D9D9D9;
        border-radius: 61px;

        &__field {
            position: relative;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 320px;
            height: 256px;
            border: 1px dashed #C1B1DC;


            img {
                position: absolute;
                top: 13px;
                left: 16px;


            }

            .data {
                position: absolute;
                top: 110px;
                left: 20px;
                color: black;
            }
        }
    }

    //Custom Tags

    &__tags {
        width: 332px;
        height: 760px;
        background: #0F182A;
    }

    //Custom Functional

    &__functional {

        .crypto-list {
            width: 332px;
            height: 760px;
            padding: 45px 30px 41px;
            background: #0F182A;
            box-shadow: 0px 0px 45px rgba(121, 84, 183, 0.59);
            border-radius: 30px;

            &__name-coins {
                position: relative;
                padding-bottom: 8px;
                border-bottom: 1px solid #fff;
                margin-bottom: 24px;
            }

            &__number {
                display: inline-block;
                width: 30px;
                height: 30px;
                @include Quantico;
                text-align: center;
                font-weight: 400;
                font-size: 18px;
                color: #C1B1DC;
                border: 1px solid #C1B1DC;
                border-radius: 100%;

            }

            &__search {
                width: 170px;
                margin-left: 17px;
                background: transparent;
                border: none;
                @include WorkSans;
                font-weight: 500;
                font-size: 20px;
                color: #FFFFFF;
                text-align: center;

                &::placeholder {

                    font-size: 16px;
                    font-weight: 500;
                    color: #C1B1DC;
                }

                &:focus {
                    outline: none;
                }
            }

            &__suitable {
                display: none;
                position: relative;
                max-height: 100px;
                margin-top: 5px;
                display: none;
                @include WorkSans;
                font-weight: 500;
                font-size: 16px;
                color: #FFFFFF;
                text-align: center;
                z-index: 99;

                ul {
                   
                    position: absolute;
                    background: #1A2C4C;
                    width: 273px;

                    li {
                        padding: 10px 0;
                    }
                }
            }

            &__suitable_selected {
                display: block;
            }

            &__add-item {
                position: relative;
                margin: 0 auto;
                width: 30px;
                height: 30px;
                
                cursor: pointer;

                &::before{
                    content: '';
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    height: 30px;
                    width: 2px;
                    background: #C1B1DC;
                    transition: background .3s ease;
                }

                &::after{
                    content: '';
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                    height: 2px;
                    width: 30px;
                    background: #C1B1DC;
                    transition: background .3s ease;
                }

                &:hover:after,
                &:hover:before {
                   
                    background: #FFFFFF;
                }
            }

            &__hide {
                position: absolute;
                top: -13px;
                right: 0;
                display: inline-block;
                font-size: 40px;
                color: #C1B1DC;
                width: 30px;
                height: 30px;
                transition: color .3s ease;
                cursor: pointer;    
                
                &:hover {
                    color: #FFFFFF;
                }
            }
        }


    }
}