.custom {
    padding: 120px 0;
    @include FlexBetween;

    &__ticker {
        position: relative;
        width: 440px;
        height: 358px;


        background: #1A2C4C;
        outline: solid 7px #7251AE;
        border: 13px solid #D9D9D9;
        border-radius: 61px;

        &__field {
            position: relative;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 320px;
            height: 256px;
            border: 1px dashed #C1B1DC;
            

            img {
                position: absolute;
                top: 13px;
                left: 16px;


            }

            .data {
                position: absolute;
                top: 110px;
                left: 20px;
                color: black;
            }
        }



    }
}