.feed-form {
    display: flex;
    flex-direction: column;

    input {
        padding: 0 52px;
        width: 633px;
        height: 40px;
        border: 2px solid #7251AE;
        background: transparent;
        margin-bottom: 15px;
        @include WorkSans;
        font-weight: 500;
        font-size: 18px;
        color: #C1B1DC;
    }

    textarea {
        padding: 11px 52px;
        width: 633px;
        height: 130px;
        border: 2px solid #7251AE;
        background: transparent;
        margin-bottom: 15px;
        @include WorkSans;
        font-weight: 500;
        font-size: 18px;
        color: #C1B1DC;
        resize: none;
    }
}