.ticker {
    width: 391px;
    min-height: 796px;
    border: 1px solid $main;
    border-radius: 20px;

    &:hover {
        background: rgba(114, 81, 174, 0.4);
    }

    &__thumbnail {
        margin: 0 auto;
        margin-top: 7px;
        border-radius: 14px;
    }

    &__title {
        margin-top: 23px;
        @include Quantico;
        font-weight: 700;
        font-size: 25px;
        text-align: center;
    }

    &__option {
        margin-top: 15px;
        position: relative;
        padding: 0 27px;
        transition: rotateZ .3s ease;

        &_active {
            .ticker__config {
                z-index: 15;
            }
            
            .ticker__arrow {
                transition: all .3s ease;
                transform: rotateZ(180deg);
            }

            .ticker__list-property {
                max-height: 250px;
                transition: max-height 1s ease-out;
                z-index: 14;
            }
        }
    }

    &__config {
        position: relative;
        display: flex;
        align-items: center;
        z-index: 12;
    }

    &__custom {
        position: relative;
        margin-top: 17px;
        padding-bottom: 8px;
        border-bottom: 1px solid $main;
    }

    &__name-property {
        margin-right: 9px;
        @include WorkSans;
        font-weight: 700;
        font-size: 22px;
    }

    &__selected-property {
        @include WorkSans;
        font-weight: 700;
        font-size: 18px;
        color: $wisteria;
    }

    &__list-property {
        overflow: hidden;
        max-height: 0;
        width: 337px;
        transition: max-height .45s linear;
        background: linear-gradient(180deg, rgba(15, 24, 42, 0.65) 0%, rgba(15, 24, 42, 0.65) 100%);
        backdrop-filter: blur(15px);
        z-index: 10;

        ul {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: 0 20px;
        }

        li {
            text-align: center;
            @include WorkSans;
            font-weight: 700;
            font-size: 18px;
            color: $wisteria;
        }

        .active {
            text-decoration: underline;
        }

    }



    &__arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 13px;
        transition: all .3s ease;

        &:hover {
            transition: .3s all;
            filter: drop-shadow(0px 0px 3px $wisteria);

            svg,
            path {
                stroke: $wisteria;
            }
        }

        &:active {

            svg,
            path {
                stroke: $purple;
            }
        }
    }

    &__btn {
        margin: 34px 0 25px;
        @include FlexBetween;
        justify-content: center;
    }

    @media (max-width: 576px) {
        width: 300px;

        &__thumbnail {
            padding: 0 4px;
        }

        &__title {
            max-width: 200px;
            margin: 10px auto 0;
        }

        &__config {
            display: block;
        }

        &__list-property {
            width: 257px;

            ul {
                display: block;
            }
        }

        &__name-property {
            display: block;
        }

        &__btn {
            margin: 10px 0;
            padding: 0 20px;

            .btn {
                width: 100%;
                
            }
        }
    }
}