.product {
    padding-top: 50px;

    &__video {
        position: relative;
        margin-top: 60px;
        width: 100%;
        height: 648px;
        overflow: hidden;
        display: flex;
        justify-content: center;

        video {
            position: absolute;
            display: block;
            margin: 0 auto;
        }

        &_dark {
            position: absolute;
            width: 100%;
            height: 100%;
            background: linear-gradient(90.31deg, rgba(0, 14, 49, 0.6) 6.01%, rgba(8, 8, 10, 0.6) 100.9%);
        }
    }

    &__benefits {
        @include FlexBetween;
        position: relative;
        width: 100%;
        top: -65px;

        .benefit {
            margin: 0 auto;
            width: 270px;
            height: 344px;

            img {
                margin: 0 auto;
            }

            &__pic {
                position: relative;

                &-inner {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            &__title {
                margin: 32px 0 6px 0;
                @include WorkSans;
                font-weight: 600;
                font-size: 35px;
                text-decoration: underline;
                text-align: center;
            }

            &__descr {
                @include WorkSans;
                font-size: 25px;
                line-height: 150%;
                text-align: center;
            }
        }

        @media (max-width: 1140px) {
            flex-wrap: wrap;

            .benefit {
                margin-top: 47px;
            }
        }
    }

    .benefits__wrapper {
        position: relative;
        width: 100%;
    }

    &__btn {
        display: flex;
        justify-content: center;
        margin-bottom: 130px;
    }

    @media (max-width: 768px) {
        padding-top: 25px;

        &__video {
            margin-top: 35px;
        }

        .benefit {
            align-self: start;
            width: 179px;
            height: auto;
            box-sizing: border-box;

            img {
                width: 100px;
                height: 100px;
            }

            &__title {
                font-size: 20px;
            }

            &__descr {
                font-size: 18px;
            }
        }
    }
}