.promo {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    height: 636px;
    background-image: linear-gradient(70.71deg, rgba(16, 25, 42, 0.92) 39.35%, rgba(25, 42, 73, 0) 99.59%), url('../resourses/img/main-photo.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;


    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-text {
        margin-top: 57px;
        width: 519px;

        &__title {
            @include Quantico;
            font-size: 60px;
        }

        &__descr {
            margin: 14px 0 84px 0;
            @include WorkSans;
            font-weight: 500;
            font-size: 25px;
            line-height: 150%;
        }
    }

    &__btns {
        display: flex;
        justify-content: space-between;
    }

    &__links {
        margin-top: 178px;
        display: flex;
        flex-direction: column;

        &__item {
            display: block;
            margin-bottom: 50px;
            
            
            &:hover {
                transition: .3s all;
                svg,
                path {
                    fill: #FFFFFF;
                    
                }
                filter: drop-shadow(0px 0px 7px #E0D8EF);
            }

            &:active {
                svg,
                path {
                    fill: #C1B1DC;
                    
                }
                filter: none;
            }


        }
    }
}