.promo {
    max-width: 1440px;
    margin: 0 auto;
    height: 636px;
    background-image: linear-gradient(70.71deg, rgba(16, 25, 42, 0.92) 39.35%, rgba(25, 42, 73, 0) 99.59%), url('../resourses/img/main-photo.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;


    &__wrapper {
        @include FlexCenter
    }

    &-text {
        margin-top: 57px;
        width: 519px;

        &__title {
            @include Quantico;
            font-size: 60px;
        }

        &__descr {
            margin: 14px 0 84px 0;
            @include WorkSans;
            font-weight: 500;
            font-size: 25px;
            line-height: 150%;

            a {
                @include WorkSans;
                font-weight: 500;
                font-size: 16px;
                color: #8A8A8A;
            }
        }
    }

    &__btns {
        display: flex;
        justify-content: space-between;
    }

    .social-links {
        justify-self: center;
        flex-direction: column;

        &__item {
            margin-bottom: 50px;
        }
    }

    @media (max-width: 768px) {
        height: 422px;

        &-text {
            margin-top: 24px;
            width: 390px;
            &__title {
                width: 313px;
                font-size: 35px;
            }

            &__descr {
                width: 333px;
                margin: 40px 0 34px;
                font-size: 20px;
            }
        }

        .social-links {
            height: 150px;
            width: 22px;

            &__item {
                margin: 12px;

                svg {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
}