.promo {
    max-width: 1440px;
    margin: 0 auto;
    height: 636px;
    background-image: linear-gradient(70.71deg, rgba(16, 25, 42, 0.92) 39.35%, rgba(25, 42, 73, 0) 99.59%), url('../resourses/img/main-photo.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;


    &__wrapper {
        @include FlexBetween
    }

    &-text {
        margin-top: 57px;
        width: 519px;

        &__title {
            @include Quantico;
            font-size: 60px;
        }

        &__descr {
            margin: 14px 0 84px 0;
            @include WorkSans;
            font-weight: 500;
            font-size: 25px;
            line-height: 150%;

            a {
                @include WorkSans;
                font-weight: 500;
                font-size: 16px;
                color: #8A8A8A;
            }
        }
    }

    &__btns {
        display: flex;
        justify-content: space-between;
    }

    .social-links {
        justify-self: center;
        flex-direction: column;

        &__item {
            margin-bottom: 50px;
        }
    }

    @media (max-width: 768px) {
        height: 422px;

        &-text {
            margin-top: 24px;
            max-width: 390px;

            &__title {
                max-width: 313px;
                font-size: 31px;

            }

            &__descr {
                max-width: 333px;
                margin: 15px 10px 38px 0;
                font-size: 20px;
            }
        }

        .social-links {
            height: 150px;
            width: 22px;

            &__item {
                margin: 12px;

                svg {
                    width: 20px;
                    height: 20px;
                }
            }
        }

        .btn {
            
            width: 150px;
            height: 65px;
            font-size: 25px;
        }
    }

    @media (max-width: 576px) {

        .promo-text__descr {
            margin-bottom: 30px;
        }

        &__btns {
            position: absolute;
            justify-content: center;

            .btn {
                
                width: 150px;
                height: 65px;
                font-size: 25px;
            }
        }
    }
}