.btn {
    display: block;
    width: 226px;
    height: 74px;
    background: linear-gradient(267.45deg, #F6F4FA -53.69%, #442B84 35%, #442B84 72%, #F6F4FA 157.12%);
    background-position: 0 0;
    border: 10px double #000;
    mix-blend-mode: lighten;
    border-radius: 40px;
    @include WorkSans;
    font-weight: 600;
    line-height: 30px;
    font-size: 30px;
    background-size: 200% auto;
    transition: .5s all ease;
    cursor: pointer;

    &:hover {
        background-position: right center;
    }

    &:active {
        outline-color: #F6F4FA;
        background: #F6F4FA;
        color: #0F182A;
    }

    &_big {
        width: 385px;
        height: 76px;
    }

    &_long {
        width: 644px;
        height: 76px;
    }
}