body {
    background: #0F182A;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1240px;
}

.title {
    margin: 15px 0;
    height: 13px;
    text-align: center;
    @include Quantico;
    font-weight: 700;
    font-size: 50px;
    line-height: 7px;
    background-image: linear-gradient(90deg, #0F182A 0%, #6840AC 49.89%, #0F182A 97.91%);
}