@media (max-width: 1280px) {
    .container {
        max-width: 1290px;
        padding: 0 25px;
    }
}

@media (max-width: 1140px) {
    
}

@media (max-width: 768px) {
    
}

@media (max-width: 576px) {

    *:hover {
        user-select: none;
    }

    .container {
        padding: 0 10px;
    }

    .header {
        height: 85px;

        &__wrapper {
            height: 85px;
        }
    }
}