//Fonts

@mixin Quantico {
    font-family: 'Quantico', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
}

@mixin WorkSans {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
}

//Position

@mixin FlexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin FlexBetween {
        display: flex;
        justify-content: space-between;
        align-items: center;
}