.feedback {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 127px 0 134px;


    &__header {
        @include Quantico;
        text-align: center;
        font-weight: 700;
        font-size: 40px;
        margin-bottom: 51px;
    }


    &__form {
        padding: 36px 70px 48px;
        width: 776px;
        height: 525px;
        background: #0F182A;
        box-shadow: 0px 0px 45px rgba(121, 84, 183, 0.59);
        border-radius: 30px;
    }

    .feed-form {
        display: flex;
        flex-direction: column;

        input {
            padding: 0 52px;
            width: 633px;
            height: 40px;
            border: 2px solid #7251AE;
            background: transparent;
            margin-bottom: 15px;
            @include WorkSans;
            font-weight: 500;
            font-size: 18px;
            color: #C1B1DC;
        }

        textarea {
            padding: 11px 52px;
            width: 633px;
            height: 130px;
            border: 2px solid #7251AE;
            background: transparent;
            margin-bottom: 15px;
            @include WorkSans;
            font-weight: 500;
            font-size: 18px;
            color: #C1B1DC;
            resize: none;
        }
    }

    &__text {
        width: 389px;

        p {
            margin-bottom: 34px;
            text-transform: lowercase;
            @include WorkSans;
            font-weight: 500;
            font-size: 25px;
            line-height: 140%;
            color: #C1B1DC;
        }
    }
}