/* wrapper */
#wrapper {
	@include box;
}
.layout {
	margin:0 auto;
	position:relative;
	width:1670px;
}
main {
	@include box;
}
#content{
	@include box;
}
#sidebar {
	@include box;
}
aside{
	@include box;
}
