/* Brand Colors ------------------------------------------------*/

	$color1: #e21a22;
	$font-color: #6a6a6b;
	$color2: #272727;

	$placeholder: $color2;

	$base-font-weight: 300;
	$brand-font-1: '',sans-serif;
	$brand-font-2: '',sans-serif;
