.footer {
    width: 100%;
    background: linear-gradient(180deg, rgba(105, 64, 172, 0) 2.08%, #6940AC 91.49%);

    &__wrapper {
        padding: 93px 0 80px;
        @include FlexBetween;
    }

    .logo {
        align-self: start;
        a {
            @include FlexCenter;
            @include Quantico;
            font-size: 32px;
            text-decoration: none;

            img {
                margin-right: 17.5px;
            }
        }

    }

    &__info {
        margin-bottom: 11px;
        display: flex;
        flex-direction: column;

        
    }

    &__link {
        @include Quantico;
        font-size: 20px;
        text-decoration: none;
    }

    .social-links {
        margin-top: 40px;
    }

    @media (max-width: 768px) {
        
        &__wrapper {
            padding-top: 53px;
            justify-content: center;
            flex-direction: column;

            .logo {
                align-self: center;

                a {
                    font-size: 17px;
                }

                img {
                    width: 37px;
                    height: 41px;
                }
            }
        }

        &__info {
            margin-top: 33px;
        }
    }
}