.modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    transition: all .3s ease;
    backdrop-filter: blur(15px);
    
}

.modal {
    transition: all .3s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 378px;
    height: auto;
    background: linear-gradient(180deg, rgba(15, 24, 42, 0.65) 0%, rgba(15, 24, 42, 0.65) 100%);
    box-shadow: 0px 0px 22px rgba(193, 177, 220, 0.5);
    backdrop-filter: blur(15px);

    &__close {
        margin: 29px 30px 52px 0;
        text-align: right;
        font-size: 60px;
        line-height: 30px;
        color: #C1B1DC;
        transition: color .3s ease;
        cursor: pointer;
        

        &:hover {
            color: #0F182A;
        }
    }

    &__list {
        padding: 0 51px 0 54px;

        &-item {
            margin-bottom: 27px;
            @include WorkSans;
            font-weight: 500;
            font-size: 24px;
            color: #FFFFFF;
            border-bottom: 1px solid #FFFFFF;
        }
    }

    &__lang {
        margin: 86px 0 45px;

        &-wrapper {
            position: relative;
            height: 46px;
            overflow: hidden;
        }

        &-list {
            position: absolute;
            top: 46px;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            justify-content: center;
            padding: 10px 15px 11px;
            margin: 0 auto;
            width: 178px;
            height: 46px;
            border: 0.5px solid #C1B1DC;
            border-radius: 15px;
            transition: top .3s ease-out;

            &__pic {
                padding: 0 8px;
                
                &:not(:last-child) {
                    border-right: 1px solid #C1B1DC;
                }

                &:hover {
                    transition: all .3s ease;
                    filter: drop-shadow(0px 0px 4px #E0D8EF) brightness(120%);
                }
            }
        }

        &-selected {
            margin-top: 12px;
           
            img {
                margin: 0 auto;
            } 
        }

        
    }

    .modal__lang:hover  .modal__lang-list {
        top: 0;
    }

    .social-links {
        padding: 0 70px 70px;
    }
}