.header {
    margin-top: 36px;
    width: 100%;
    height: 117px;
    background: linear-gradient(180deg, rgba(105, 64, 172, 0) 2.08%, #6940AC 47.4%, rgba(67, 22, 140, 0) 100%), linear-gradient(180deg, rgba(105, 64, 172, 0) 2.08%, #6940AC 47.4%, rgba(67, 22, 140, 0) 100%);
    backdrop-filter: blur(60px);

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}