.header {
    margin-top: 36px;
    width: 100%;
    height: 117px;
    background: linear-gradient(180deg, rgba(105, 64, 172, 0) 2.08%, #6940AC 47.4%, rgba(67, 22, 140, 0) 100%);

    

    &__wrapper {
        height: 117px;
        @include FlexBetween;
    }

    .logo {
        a {
            @include FlexBetween;
            @include Quantico;
            font-size: 32px;
            text-decoration: none;

            img {
                margin-right: 17.5px;
            }
        }

        @media (max-width: 576px) {
            a {
                font-size: 17px;
            }

            img {
                width: 37px;
                height: 41px;
            }
        }
    }

    .nav {
        @include FlexBetween;

        &__list {
            @include FlexBetween;
            margin-right: 44px;

            @media (max-width: 1140px) {
                display: none;
            }
        }

        &__item {
            margin-right: 49px;

            &:last-child {
                margin: 0;
            }
        }

        &__link {
            position: relative;
            @include Quantico;
            font-weight: 700;
            font-size: 16px;
            text-decoration: none;

            &::before {
                position: absolute;
                bottom: -9px;
                left: 50%;
                transform: translateX(-50%);
                content: '';
                display: block;
                width: 0%;
                height: 1px;
                background: $main;
                transition: all .3s ease-in-out;
            }

            &:hover:before {
                width: 80%;
            }


            &:active {
                transition: all .3s ease-in-out;
                color: $dark;

                &:before {
                    background: $dark;
                }
            }
        }
    }

    .log-reg {

        &__sign-in,
        &__sign-up {
            position: relative;
            @include Quantico;
            font-weight: 700;
            font-size: 16px;
            text-decoration: none;

            &::before {
                position: absolute;
                bottom: -9px;
                left: 50%;
                transform: translateX(-50%);
                content: '';
                display: block;
                width: 0%;
                height: 1px;
                background: $main;
                transition: width .3s ease-in-out;
            }

            &:hover:before {
                width: 80%;
            }

            &:active {
                color: $dark;

                &:before {
                    background: $dark;
                }
            }
        }

        &__sign-up {
            margin-left: 55px;

            &::after {
                position: absolute;
                top: 50%;
                left: -25px;
                transform: translateY(-50%);
                content: '';
                display: block;
                width: 1px;
                height: 40px;
                background: $main;
            }
        }

        @media (max-width: 576px) {
            &__sign-up {
                margin-left: 15px;

                &::after {
                    left: -8px;
                }
            }
        }

        @media (max-width: 428px) {
            &__sign-up {
                display: none;
            }
        }
    }

    &__search {
        @include FlexBetween;
        margin: 0 40px 0 60px;
        transition: .5s ease-in-out;
        width: 36px;
        border-color: $wisteria;

        &__btn {
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            background: transparent;
            cursor: pointer;
        }

        &__field {
            padding: 5px 5px 3px;
            width: 100%;
            background: transparent;
            border: none;
            @include WorkSans;
            font-size: 18px;
            color: $wisteria;
            outline: none;
        }

        &_active,
        &:hover {
            margin-left: 16px;
            width: 210px;
            border-bottom: 2px solid $main;
        }

        @media (max-width: 768px) {
            margin: 0px 12px 0 5px;

            &_active,
            &:hover {
                width: 150px;
            }
        }
    }

    .burger {
        position: relative;
        width: 40px;
        height: 40px;
        cursor: pointer;

        span {
            position: relative;
            position: absolute;
            top: 50%;
            right: 0;
            display: block;
            width: 28.78px;
            height: 3px;
            background: $main;
            transition: background .3s ease;

            &::before {
                position: absolute;
                bottom: 9px;
                right: 0;
                content: '';
                display: block;
                width: 37px;
                height: 3px;
                background: inherit;
            }

            &::after {
                position: absolute;
                top: 9px;
                right: 0;
                content: '';
                display: block;
                width: 20.56px;
                height: 3px;
                background: inherit;
            }
        }

        &:hover span {
            background: $dark;
        }
    }

    @media (max-width: 576px) {
        margin-top: 11px;
        height: 85px;

        &__wrapper {
            height: 85px;
        }

        &__search {
            margin: 0px 8px 0 0px;
            svg {
                width: 20px;
                height: 20px;
            }
        }

        .burger {
            width: 33px;
            height: 30px;

            span {
                width: 24px;

                &::before {
                    width: 31px;
                }

                &::after {
                    width: 17px;
                }
            }
        }

    }
}