.catalog {



    &__wrapper {
        margin: 60px 0 125px;
        @include FlexBetween;
        align-items: start;
    }

    .marquee {
        position: relative;
        width: 100%;
        height: 94px;
        border: 3px solid;
        border-left: none;
        border-right: none;
        border-image: linear-gradient(268.54deg, #7954B7 21.31%, #AD97D0 115.35%) 1;

        &__inner {
            position: absolute;
            left: 0;
            padding: 20px 0;
            max-width: 100%;
            height: 94px;
            // text-align: center;
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 40px;
            line-height: 55px;
            word-spacing: 114px;
            white-space: nowrap;
            color: transparent;
            background-clip: text;
            background-image: linear-gradient(268.54deg, #7954B7 21.31%, #AD97D0 115.35%);
            overflow: hidden;

            animation: animate 30s ease-out infinite;
        }

        @keyframes animate {
            0% {
                text-indent: 0%;
            }



            50% {
                text-indent: -100%;
            }



            100% {
                text-indent: 0%;
            }
        }

    }

}