
    .catalog__wrapper {
        margin: 60px 0 125px;
        position: relative;
        overflow: hidden;
    }

    .swiper-wrapper {
        display: flex;
        justify-content: space-between;
        min-width: 0;
        margin-bottom: 67px;
    }

    .swiper-slide {
        flex-shrink: 0;
    }

    .swiper-scrollbar {
        position: relative;
        margin: 0 auto;
        height: 5px;
        max-width: 300px;
        background: #ADADAD;
    }

    .swiper-scrollbar-drag {
        position: absolute;
        top: -40%;
        height: 8px;
        width: 80px;
        background: linear-gradient(90.94deg, #AD97D1 -30.86%, #6840AB 83.14%);
        border-radius: 11px;
    }
