.catalog {
    width: 100%;
    &__wrapper {
        margin: 60px 0 125px;

    }

    .swiper-wrapper {
        display: flex;
        @include FlexCenter;
        align-items: start;
        min-width: 0;
    }
}