.ticker {
    width: 391px;
    height: 796px;
    border: 1px solid #FFFFFF;
    border-radius: 20px;

    &:hover {
        background: rgba(114, 81, 174, 0.4);
    }

    &__thumbnail {
        margin: 0 auto;
        margin-top: 7px;
        border-radius: 14px;
    }

    &__name {
        margin-top: 23px;
        @include Quantico;
        font-weight: 700;
        font-size: 25px;
        text-align: center;
    }

    &__option {
        margin-top: 15px;
        position: relative;
        padding: 0 27px;

        &_active {
            .ticker__config {
                z-index: 15;
            }
            

            .ticker__list-property {
                max-height: 250px;
                transition: max-height 1s ease-out;
                z-index: 14;
            }
        }
    }

    &__config {
        position: relative;
        display: flex;
        align-items: center;
        z-index: 12;
    }

    &__custom {
        position: relative;
        margin-top: 17px;
        padding-bottom: 8px;
        border-bottom: 1px solid #FFFFFF;
    }

    &__name-property {
        margin-right: 9px;
        @include WorkSans;
        font-weight: 700;
        font-size: 22px;
    }

    &__selected-property {
        @include WorkSans;
        font-weight: 700;
        font-size: 18px;
        color: #C1B1DC;
    }

    &__list-property {

        position: absolute;
        top: -10px;
        left: 17px;
        overflow: hidden;
        max-height: 0;
        width: 355px;
        transition: max-height .45s linear;
        background: linear-gradient(180deg, rgba(15, 24, 42, 0.65) 0%, rgba(15, 24, 42, 0.65) 100%);
        backdrop-filter: blur(15px);
        z-index: 10;

        ul {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: 25px 20px 0px;
        }

        li {
            text-align: center;
            @include WorkSans;
            font-weight: 700;
            font-size: 18px;
            color: #C1B1DC;
        }

    }



    &__arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 13px;


        &:hover {
            transition: .3s all;

            svg,
            path {
                stroke: #C1B1DC;
            }

            filter: drop-shadow(0px 0px 3px #C1B1DC);
        }

        &:active {

            svg,
            path {
                stroke: #7251AE;
            }
        }
    }

    &__btn {
        margin-top: 34px;
        display: flex;
        justify-content: center;
    }
}