header {
	background-color: #050A27;
	height: 1120px;
	img {
		box-sizing: border-box;
		width: 62.5px;
		height: 72px;
	}
	p {
		position: absolute;
		width: 144px;
		height: 48px;
		left: 155px;
		top: 72px;
		font-family: 'Rubik';
		font-style: normal;
		font-weight: 500;
		font-size: 32px;
		line-height: 150%;
		color: #FFFFFF;

	}
	a {
		font-family: 'Rubik';
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 28px;
	}
	& .Reg {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 23px 42px;
		gap: 10px;

		width: 192px;
		height: 70px;

		background: #1C37CE;
		border-radius: 15px;

	}
}
