.news {
    margin-bottom: 146px;

    &__wrapper {
        margin-bottom: 67px;
        position: relative;
        overflow: hidden;
    }


    &__show-all {
        margin: 79px 0 28px;
        text-align: right;

        a {
            @include WorkSans;
            font-weight: 500;
            font-size: 18px;
            line-height: 150%;
            color: $wisteria;
            text-decoration: none;
        }
    }

    &__item {
        padding: 8px 14px 8px 7px;
        @include FlexBetween;
        width: 499px;
        height: 217px;
        background: transparent;
        backdrop-filter: blur(15px);
        border: 2px solid $purple;
        border-radius: 9px;
        transition: .3s linear;

        &:hover {

            background: rgba(114, 81, 174, 0.4);
            backdrop-filter: blur(15px);
        }
    }

    &__thumbnail {
        width: 181px;
        height: 203px;
        @include FlexCenter;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__text {
        width: 278px;
        margin-left: 19px;
        
    }

    &__title {
        @include WorkSans;
        font-weight: 600;
        font-size: 23px;
    }

    &__descr {
        
        @include WorkSans;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;

        a {
            text-decoration: none;
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
            color: #8A8A8A;
        }
    }

    .swiper-wrapper {
        display: flex;
        margin-bottom: 67px;
    }

    .swiper-slide {
        flex-shrink: 0;
    }

    .swiper-scrollbar {
        position: relative;
        margin: 0 auto;
        z-index: 50;
        height: 5px;
        width: 397px;
        background: #ADADAD;
    }

    .swiper-scrollbar-drag {
        position: absolute;
        top: -40%;
        height: 8px;
        width: 80px;
        background: linear-gradient(90.94deg, #AD97D1 -30.86%, #6840AB 83.14%);
        border-radius: 11px;
    }

    @media (max-width: 576px) {
        margin-bottom: 60px;

        &__item {
            width: 300px;
        }

        &__thumbnail {
            
            width: 148px;
            height: 197px;
        }

        &__text {
            width: 183px;
        }

        &__title {
            font-size: 20px;
        }

        &__descr {
            font-size: 15px;
        }

        .swiper-wrapper {
            margin-bottom: 50px;
        }

        .swiper-scrollbar {
            width: 300px;
        }
    }
}